@charset "UTF-8";
/*****Metodologias*****/
/***********
Metodología BEM
************/
/* 
BLOQUE
ELEMENTO
MODIFICADOR*/
/* BLOQUE 1*/
.tarjeta {
  width: 600px;
  height: 300px;
  display: flex; }

/*ELEMENTo*/
.tajeta__txtgrande {
  margin: 10%;
  padding: 20%;
  border-radius: 20px;
  background-color: #ddd7d7;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.tarjeta__txtmediano {
  margin: 10%;
  padding: 20%;
  border-radius: 20px;
  background-color: #ddd7d7;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.tarjeta__txtchico {
  margin: 10%;
  padding: 20%;
  border-radius: 20px;
  background-color: #ddd7d7;
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

/*MODIFICADOR*/
.tarjeta--roja {
  color: crimson; }

.tarjeta--verde {
  color: green; }

.tarjeta--azul {
  color: blue; }

/*
    .grilla {
        display: grid;
        margin: 40px 0 40px 0;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(4,250px);
        gap: 1px 1px;
        text-align: center;
        justify-content: stretch;
        font-size: 1.5rem;
        grid-template-areas:
        "bannerUno bannerUno bannerUno bannerUno"
        "tarjetaUno tarjetaUno tarjetaDos tarjetaTres"
        "tarjetaCuatro tarjetaCinco tarjetaCinco tarjetaTres"
        "bannerUno bannerUno bannerUno bannerUno";
    }

    .bannerUno {
       
    }

    .tarjetaUno {
*/
* {
  margin: 0px;
  padding: 0px; }

header {
  width: 1024px;
  height: 30px;
  background-color: cornflowerblue;
  font-size: 24px;
  text-align: center; }

nav {
  display: flex;
  flex-grow: initial;
  height: 40px;
  width: 100%;
  padding: 20px;
  font-size: 20px; }

body {
  font-family: "Nunito", "Roboto", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  display: contents;
  justify-content: center;
  font-family: "nunito"; }

title {
  font-family: 'Nunito', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center; }

header {
  font-family: "Lobster Two", "roboto", "Open Sans", "Helvetica Neue";
  color: #5c6dce; }

div {
  width: 100%; }
  div article {
    width: 540px; }
    div article img {
      width: 360px; }
    div article h2 {
      width: 490px; }
    div article p {
      width: 590px; }

div {
  background-color: #777373; }

article h2 {
  color: #5c6dce;
  font-family: "Nunito", Helvetica, sans-serif;
  font-size: 20px; }

article p {
  color: rgba(87, 87, 87, 0.815);
  font-family: Arial, Helvetica, sans-serif; }

.article_dos {
  background-color: background-color #838383;
  border: 3px solid #a677f1;
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
  color: rgba(87, 87, 87, 0.815);
  margin: 20px; }

.article_tres {
  background-color: background-color #454fe2;
  border: 3px solid #a677f1;
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
  color: rgba(87, 87, 87, 0.815);
  margin: 20px; }

article, .article_dos, .article_tres {
  width: 300px; }

img {
  justify-content: stretch;
  align-items: center;
  margin-left: auto;
  margin-right: auto; }

/*
footer{
    list-style: none;
    /*display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem;
    margin:1px;
}*/
h2 {
  color: cornflowerblue;
  font-family: "Lobster Two", "roboto", "Open Sans", "Helvetica Neue";
  font-size: 30px;
  margin-right: 35px;
  margin-left: 50px;
  margin-top: 50px; }
